
 .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
   right: 0;
   background-color: white;
   border-bottom-style: solid;
   border-bottom-color: rgb(228, 228, 228);
   border-bottom-width: 1px;
   z-index: 100;
   border-color: white;
   border-style: solid;
 
 }
 .left-side-section{
    display:flex;
    align-items: center;

 }
 .middle-side-section{
    display: flex;
    text-align: center;
  flex: 1;
 margin-left: 70px;
 margin-right:  35px; ;
 max-width: 450px;
 }
 .righ-side-section{
    flex-shrink: 0;
    margin-right: 20px;
    display:flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
 }
 .hamburger-menu{
    height: 20px;
    margin-left: 25px;
    margin-right: 25px;

 }
 .youtube-logo{
   height: 20px;
 }
 .search-button{
   border: 1px solid rgb(255, 254, 254);
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-top: 10px;
    height: 38px;
    width: 70px;
    margin-left: -90px;
 }
 .voice-search-button{
   margin-right: -50px;
    height: 40px;
    width: 10xpx;
    margin-left: 10px;
    border-radius: 80px;
    border: none;
   
 }
 .search-bar{
    border: 1px solid rgb(255, 248, 248);
   margin-top: 10px;
   border-radius: 50px;
    flex:1;
    height: 34px;
    margin-left: 10px;
    margin-right: -150px;
 }
 .search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
 }
 .search-icon{
  
   border-radius: 50px;
    height: 25px;
   margin-top: 10px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    
 }
 .voice-search-icon{
    height: 24px;
    margin-top: 4px;
    width: 40px;
 }
 .upload-icons{
    height: 24px;
 }
 .notifications-icon{
    height: 24px;
 }
 .current-user-picture{
    height: 32px;
    border-radius: 16px;
 }
 .notifications-icon-container{
    position: relative;

 }
 .notifications-count{
    position:absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(204, 51, 51);
    font-family: roboto,arial;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: -9px;
    padding-top: 2px;
    border-radius: 80px;
    margin-left: 30px;
    margin-bottom: 20px;
 }
 .header-buttons{
   display:flex;
   justify-content: center;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
 }
 .header-buttons-space{
   color: black;
   border-radius: 10px;
   border-color: white;
   border-style: solid;
   height: 40px;
   padding-left: 8px;
   padding-right: 8px;
   margin-top: -16px;
 }
 .header-buttons-space:hover{
     color: white;
      background-color: black;
 }
 .header-bottom section{
 position: fixed;
 top: 70px;
 right: 100%;
 left: 100%;
  
 }